<section class="section">
    <div class="container catalogo__container">
        <div class="hero">
            <h2 class="hero__title">wellcome to our list of products 🍔</h2>
            <p>{{usser}}</p>
            <P class="hero__content">PRODUCTOS OBTENIDOS MEDIANTE WEBSOCKETS SOCKET IO </P>
        </div>
        <div class="section">
            <div class="container testing-area">
                <form class="form__demo" id="delete__product">
                    <label for="id" class="label">
                        <p>ingrese el id para eliminar</p>
                        <input type="text" id="id-to-delete" name="id" placeholder="id" class="input">
                    </label>
                        <button type="submit" class="button danger">delete</button>
                </form>

                <form class="form__demo" id="add__product">
                    <p>add a product</p>
                    <label for="title" class="label">
                        <p>title</p>
                        <input type="text" name="title" class="input" required>
                    </label>
                    <label for="description" class="label">
                        <p>description</p>
                        <input type="text" name="description" class="input">
                    </label>
                    <label for="price" class="label">
                        <p>price $</p>
                        <input type="number" name="price" class="input" required>
                    </label>
                    <label for="category" class="label">
                        <p>category</p>
                        <input type="text" name="category" class="input" required>
                    </label>

                    <label for="thumbnail" class="label">
                        <p>thumbnails</p>
                        <input type="text" name="thumbnail"  class="input">
                    </label>
                    <label for="code" class="label">
                        <p>code</p>
                        <input type="text" name="code" class="input" required>
                    </label>
                    <label for="stock" class="label">
                        <p>stock</p>
                        <input type="number" name="stock" class="input">
                    </label>
                    <button type="submit" class="button ">add product</button>
                </form>          
            </div>
        </div>
        <section class="section">
    <div class=" catalogo__container">
        <div class="catalogo container">
            <div class="hero__content">
                <p class="hero__lead">this is our complete catalogo</p>
            </div>
            <ul class="catalogo__list">
            {{#each products}}
                <li>
                    <div class="card">
                        <img src={{this.thumbnail}} alt="image reference for {{this.title}}" height="200" >
                        <div class="card__content">
                        <h4>{{this.title}}</h4>
                        <p class="description">{{this.description}}</p>
                        </div>
                        <p class="price">Price: ${{this.price}}</p>
                        <div class="card__button">
                            <button class="button button--sm button--secondary">something else</button>
                            <button class="add-card button--sm button">add to card</button>
                        </div>
                    </div>
                </li>
            {{/each}}
            </ul>

        </div>
    </div>
</section>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>